header {
       display: flex;
       background-color: #0000004d;
       border-radius: 20px;
       margin-top: 20px;
       justify-content: center;
       padding: 10px;
}






nav ul  {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  
}



nav ul li a img {
 height: 50px;
}


#form-search-bar{
   display: flex;
  align-items: center;
}

.search-bar {
   outline: none;
   padding: 12px;
   border-radius: 10px;
   border: none;
   text-align: center;
   background-color: #ffffff33;
 
}

.search-bar::placeholder {
    color: white;
    
}






