<header>
    <nav>
        <ul>
            <li><a href="/" title="Home"><img src="assets/images/homeicon.png" alt="Home"></a></li>
            <li><a href="game" title="Games"><img src="assets/images/consoleicon.png" alt="Games"></a></li>
            <li><a href="library" title="Library"><img src="assets/images/libraryicon.png" alt="Library"></a></li>
            <li><a href="favorite" title="Favorites"><img src="assets/images/favoriteicon.png" alt="Favorites"></a></li>
            <li><a href="blacklist" title="Blacklist"><img src="assets/images/blacklisticon.png" alt="Blacklist"></a></li>
            <li class="profile"><a href="/profile" title="Profile"><img src="assets/images/pfp.png" alt="Profile"></a></li>
        </ul>
    </nav>
</header>