

    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="assets/images/homeicon.png" alt="Home"></a></li>
                <li><a href="game"><img src="assets/images/consoleicon.png" alt="Spellen"></a></li>
                <li><a href="library"><img src="assets/images/libraryicon.png" alt="Lijst"></a></li>
                <li><a href="favorite"><img src="assets/images/favoriteicon.png" alt="Favorieten"></a></li>
                <li><a href="blacklist"><img src="assets/images/blacklisticon.png" alt="Blacklist"></a></li>
                
                <form id="form-search-bar" action="search.html" method="get">
                    <input type="text" class="search-bar" placeholder="Zoeken..." aria-label="Zoekveld">
                </form>
                <li class="profile"><a href="profile.html"><img src="assets/images/pfp.png" alt="Profiel" ></a></li>
            </ul>
        </nav>
    </header>