<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Wachtwoord vergeten</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body id="reset-page">
  <h2 class="page-heading">Wachtwoord vergeten</h2>
  <form action="/forgot-password" method="POST" class="reset-form">
    <input type="email" name="email" placeholder="Vul je e-mailadres in" required class="reset-input">
    <button type="submit" class="submit-btn">Verstuur resetlink</button>
  </form>
</body>
</html>
