<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spel</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <%- include ("partials/header") %>
    
    <main >
        <section class="game-container">
        <img src="/assets/images/Karakter1.gif" alt="Character">
        <img src="/assets/images/Weapons.jpg" alt="Weapon" id="weapons">
        <img src="/assets/images/griddy.png" alt="Emote" id="emote">
    </section>
    <section class="thumbs">
        <img src="/assets/images/thumbs down.png" alt="" id="thumbsdown">
        <p class="score">X/X</p>
        <img src="/assets/images/thumbs up.png" alt="" id="thumbsup">
    </section>
    </main>

    <footer>
      
    </footer>

</body>
</html>
