<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Selection</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="index-page">

    <header class="game-header">
        <h1 class="game-title">Kies je spel</h1>
    </header>

    <section class="game-list">
        <article class="game-item">
            <figure class="game-figure">
                <img src="/assets/images/Fortnite.jpg" alt="Fortnite Game" class="game-image">
            </figure>
            <figcaption class="game-caption">
                <a href="login" class="game-button">Fortnite</a>
            </figcaption>
        </article>

        <article class="game-item">
            <figure class="game-figure">
                <img src="/assets/images/Fifa.jpg" alt="FIFA Game" class="game-image">
            </figure>
            <figcaption class="game-caption">
                <a href="#" class="game-button">FIFA</a>
            </figcaption>
        </article>

        <article class="game-item">
            <figure class="game-figure">
                <img src="/assets/images/Lego-Masters.jpg" alt="Lego Masters Game" class="game-image">
            </figure>
            <figcaption class="game-caption">
                <a href="#" class="game-button">Lego Masters</a>
            </figcaption>
        </article>

        <article class="game-item">
            <figure class="game-figure">
                <img src="/assets/images/LORT.jpg" alt="LORT Game" class="game-image">
            </figure>
            <figcaption class="game-caption">
                <a href="#" class="game-button">LORT</a>
            </figcaption>
        </article>

        <article class="game-item">
            <figure class="game-figure">
                <img src="/assets/images/MTG.jpg" alt="MTG Game" class="game-image">
            </figure>
            <figcaption class="game-caption">
                <a href="#" class="game-button">MTG</a>
            </figcaption>
        </article>

        <article class="game-item">
            <figure class="game-figure">
                <img src="/assets/images/Pokemon.jpg" alt="Pokemon Game" class="game-image">
            </figure>
            <figcaption class="game-caption">
                <a href="#" class="game-button">Pokemon</a>
            </figcaption>
        </article>
    </section>

</body>
</html>
