<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>library</title>
</head>
<body id="detail-page">

    <%- include ("partials/header") %>


    <main>

        <form action="/library" method="post" id="character-form"> 

            <input name="name" id="name" placeholder="zoek je character" type="text">
            
            <select name="rarity" id="rarity">
                <option value="">kies een zeldzaamheid</option>
                <option value="common">Gewoon</option>
                <option value="rare">Zeldzaam</option>
                <option value="epic">Episch</option>
                <option value="legendary">legendarisch</option>
            </select>
            
            <button type="submit" id="search-character-button">zoeken</button>
        </form>

        <section class="character-selection">
            <h1>Karakters</h1>
            <section class="character-details">

                <% if (data.data == null) { %>
                    <p>Geen karakters gevonden.</p>
                <% } else { %>
                    <% data.data.forEach(character => { %>
                    <article class="character-card">
                        <a href="detail?id=<%= character.name %>">
                            <img src="<%= character.images.icon %>" alt="<%= character.name %>" class="character">
                        </a>
                    </article>
                    <% }); %>
                <% } %>

            </section>
        </section>
    </main>

    <footer>
      
    </footer>

</body>
</html>
