<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>library</title>
</head>
<body id="detail-page">

    <%- include ("partials/header") %>


    <main>
        <section class="character-selection">
            <h1>Karakters</h1>
            <section class="character-details">

                <article class="character-card">
                    <a href="detail.html">
                        <img src="/assets/images/jonesypic.png" alt="Character 1" class="character">
                    </a>
                </article>

         
                <article class="character-card">
                    <a href="detail.html">
                        <img src="/assets/images/jonesypic.png" alt="Character 2" class="character">
                    </a>
                </article>

               
                <article class="character-card">
                    <a href="detail.html">
                        <img src="/assets/images/jonesypic.png" alt="Character 3" class="character">
                    </a>
                </article>

            </section>
        </section>
    </main>

    <footer>
      
    </footer>

</body>
</html>
