<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/css/style.css" />
  <title>Login</title>
</head>
<body class="fortnite-wrapper">

  <header class="header-logo">
    <img src="/assets/images/fortnite-logo.webp" alt="Fortnite logo" class="fortnite-logo" tabindex="0" />
  </header>

  <main>
    <section class="login-container">
      <form action="library" method="get">
        <section class="input-group">
          <input type="email" name="email" placeholder="E-mailadres" required class="login-input" />
          <input type="password" name="password" placeholder="Wachtwoord" required class="login-input" />
        </section>

        <p style="margin-top: 10px;">
          <a href="/forgot-password" style="color: #ccc; text-decoration: underline;">Wachtwoord vergeten?</a>
        </p>

        <section class="button-group">
          <button type="submit" class="login-btn">Login</button>
        </section>
      </form>

      <button class="register-btn" type="button" onclick="location='register'">Registreren</button>
    </section>
  </main>

  <footer>
    <img src="/assets/images/Supply_Llama.webp" alt="Supply llama" class="supply-llama" />
  </footer>

</body>
</html>
