<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Nieuw wachtwoord</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>Nieuw wachtwoord instellen</h2>
  <form action="/reset-password" method="POST">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="password" name="newPassword" placeholder="Nieuw wachtwoord" required>
    <button type="submit">Wachtwoord opslaan</button>
  </form>
</body>
</html>
