<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Nieuw wachtwoord</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body id="reset-page">
  <h2 class="page-heading">Nieuw wachtwoord instellen</h2>
  <form action="/reset-password" method="POST" class="reset-form">
    <input type="hidden" name="email" value="<%= email %>" class="hidden-input">
    <input type="password" name="newPassword" placeholder="Nieuw wachtwoord" required class="reset-input">
    <button type="submit" class="submit-btn">Wachtwoord opslaan</button>
  </form>
</body>
</html>

