<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Character Details</title>
</head>
<body id="character-detail-page">

    <%- include ("partials/header") %>

    <main>
        <article class="character-detail">
            <header>
                <h1>Character</h1>
                <section class="character-info">
                    <img src="<%= data.data[0].images.icon %>" alt="<%= data.data[0].name %>" class="character" draggable="false">
                    <p id="character-name">Character 1</p>
                </section>
            </header>

            <section class="description-box">
                <p>
                <%= data.data[0].description %>
                </p>


            <section class="selection">
                <h2>kies je wapen</h2>
                <ul class="weapons">
                    <li><img src="/assets/images/Assault_Rifle.webp" alt="Assault_Rifle" ></li>
                    <li><img src="/assets/images/Mythic_Goldfish.webp" alt="Mythic_Goldfish" ></li>
                    <li><img src="/assets/images/Rocket_Launcher.webp" alt="Rocket_Launcher" ></li>
                    <li><img src="/assets/images/Mammoth_Pistol.webp" alt="Mammoth_Pistol"></li>
                    <li><img src="/assets/images/Pump_Shotgun.webp" alt="Pump_Shotgun"></li>
                </ul>

                <h2>kies je emote</h2>
                <ul class="emotes">
                    <li><img src="/assets/images/emote1.png" alt="Emote 1" ></li>
                    <li><img src="/assets/images/questionmark.png" alt="Emote 2" ></li>
                </ul>
            </section>

            <section id="selection-result">
                <p>Geselecteerdde wapens: <span id="selected-weapon">None</span></p>
                <p>Geselecteerdde emote: <span id="selected-emote">None</span></p>
            </section>
        </article>
    </main>

    <footer>
        
    </footer>

</body>
</html>

